
}
.inline{
	display: inline-block;
}
.uno{
	background-color: yellow;
	padding:90px;
	width: 10px;
}
.dos{
	background-color: red;
	padding:90px;
	width: 10px;
}
.tres{
	background-color: blue;
	padding:90px;
	width: 10px;
}
div(.inline){
	margin:11px;
}
.caja2{
	display: inline-block;
	background-color: purple;
	padding:90px;
	width: 10px;
}








